.mainDisplay{
    background-color: white;
    width: 100%;    
}
.tableMain{
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(106, 0, 107,0.1);
    width: 80vw;
    height: 85vh;
    position: relative;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.2rem;
}
.tableMain a{
    color: black;
    text-decoration: none;
}
.tableMain a:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
}